html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
background-image: url("avatar4.jpg");
}

#content {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
            background-image: url("avatar4.jpg");

}

.avatar {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

img.avatar {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

img.avatar:hover {

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

img { 
    max-width: 100%;
}

body {
    font-family: 'InterRegular';
    font-weight: normal;
    font-style: normal;
    margin:0;
    padding:0;
        background-image: url("avatar4.jpg");
    /*background-color:#E8E8E8;
    color:#282828;*/
}

.header {
    width: 100%;
    margin: 0px auto;
    padding-top: 24px;
    padding-bottom: 8px;
}

.content {
    margin-bottom: 5%;
            background-image: url("avatar4.jpg");

}

blockquote img {
    margin:12px 0px;
}

.mdi {
    color: #282828;
    font-size: 175%;
    text-align: center;
    margin: auto;
}

.mdi:hover {
    color: black;
    transition: all 0.25s;
}

.name {
    font-size: 50px;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {

    body {
        /*background-color:#08747F;
        color:#CFCBC4;*/
    }

    
    .mdi {
        color: #D0CBC4;
    }

    .mdi:hover {
        color: white;
    }
}